.sidedrawer {
    width: 70%;
    height: 100vh;
    background-color: white;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.1s ease-out;
}

.sidedrawer.show {
    transform: translateX(0);
}