* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: radial-gradient(#fff, #ffd6d6);
    overflow: auto;
    font-size: 1.5rem;
}

img {
    width: 100%;
    object-fit: contain;
}